*{
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 100%;
}

body {
    margin: 0 auto;
    background-color: #EDF2F4;
    overflow-x: hidden;

    &.modal-open {
        overflow-y: hidden;
    }
}

button {
    cursor: pointer;
}

.container  {
    position: relative;
    width: 100%;
    background-color: #fff;
}

header {
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: stretch;
    background-color: #212529;
    box-shadow: 0 1px 0.1rem gray;
    width: 100%;
    // max-width: 1400px;
    left: 0;
    height: 40px;
    z-index: 1;

    @media only screen and (max-width: 500px) {
        justify-content: space-evenly;
    }

    @media only screen and (max-width: 440px) {
        justify-content: space-between;
        nav {
            border-top: 1px solid gray;
            position: absolute;
            top: 40px;
            left: 0;
            margin: 0;
            padding: 0 !important;
            flex-direction: column;
            transform: translateX(0);
            transition: all .1s;
            a {
                background-color: #212529;
                padding: 1rem !important;
                width: 150px;
                text-align: center;
                box-shadow: 0 0 0.2rem gray;

                &:after {
                    content: '';
                    width: 100%;
                    border-bottom: 1px solid gray;
                    display: block;
                    margin: 0 auto;
                    margin-top: .5rem;
                }
            }

            &:not(.active) {
                transform: translateX(-105%);
            }
        }
    }

    img {
        margin-left: 1rem;
        height: 90%;
        align-self: center;

        @media only screen and (min-width: 440px) {
            display: none;
        } 
    }
    
    nav {
        padding: .4rem;
        // padding-left: 3rem;
        display: flex;
        align-items: stretch;
        box-shadow: none;
        a {
            padding: .2rem 1rem;
            color: white;
            font-family: sans-serif;
            cursor: pointer;

        }

    }

}

section {
    position: relative;
    top: 40px;
    margin: 0 auto;

    .section-wrapper {
        // background: white;
        max-width: 1400px;
        margin: 0 auto;
        padding: 2rem 3rem;
    }

    h2 {
        font-family: serif;
        font-weight: 400;
        font-size: 2rem;
        color: #212529;
        margin-bottom: 1.5rem;
    }

    &.banner {
        background-color: #f5f5f5;

        .section-wrapper {
            display: flex;
            max-width: 1000px;
            padding: 1.3rem;
            justify-content: space-evenly;

            @media only screen and (max-width: 700px) {
                flex-direction: column;
                align-items: center;
                text-align: center;
                
                h1 {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }

                h2 {
                    font-size: 1rem;
                }
            }
        }

        .headshot {
            border-radius: 50%;
            overflow: hidden;
            width: 180px;
            height: 180px;
            // background-image: url("img/headshot.png");

            img {
                width: 100%;
                transform: translateX(0rem) scale(1.3);
            }
        }

        .personal {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        h1 {
            font-size: 3rem;
            margin-bottom: 2rem;
            font-family: serif;
            font-weight: 300;
            letter-spacing: .5px;
        }

        h2 {
            font-size: 1.5rem;
            font-family: sans-serif;
            font-weight: 300;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media only screen and (max-width: 900px) {
            // text-align: center;
            h1 {
                font-size: 2.5rem;
                // text-align: center;
            }

            h2 {
                font-size: 1.3rem;
            }
        }

        
    }

    &.about {
        background: #CED4DA;


        & .section-wrapper {
            max-width: 1400px;
            margin: 0 auto;
            display: flex;
            // column-gap: 2rem;
            // padding: 0 1.5rem;
            padding: 2rem 3rem;
            column-gap: 3rem;
            flex-direction: column;

            @media only screen and (max-width: 1200px) {
                grid-row-gap: 3rem;
                row-gap: 3rem;
            }

            @media only screen and (max-width: 700px) {
                padding: 1rem;
                grid-row-gap: 1rem;
                row-gap: 1rem;
            }

            h2 {
                font-family: serif;
                font-weight: 400;
                font-size: 2rem;
                color: #212529;
                margin-bottom: 1.5rem;

                &:after {
                    content: '';
                    display: block;
                    width: 60%;
                    border-bottom: 1px solid black;
                    margin-top: .5rem;
                }
            }

            &>div {
                background-color: white;
                padding: 1rem 2rem;
                box-shadow: 0 0 0.1rem gray;
                border-radius: 5px;
                margin-bottom: 1rem;
            }

            & .about-desc {
                height: auto;
                position: relative;
                padding: 3rem 4rem;
                p {
                    font-size: 1rem;
                    font-family: sans-serif;
                    line-height: 1.6;
                    margin-bottom: 1.5rem;
                }

                span {
                    text-decoration: line-through;
                }

                @media only screen and (max-width: 600px) {
                    padding: 1rem 2rem !important;
                    p {
                        font-size: .8rem !important;
                    }
                    
                }
                
                .read-story {
                    position: absolute;
                    font-size: 1rem !important;
                    font-family: sans-serif;
                    font-weight: 400;
                    color: darkblue;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    left: 0;
                    margin: 0 auto;
                    bottom: .5rem;
                    z-index: 50;
                    cursor: pointer;

                    @media only screen and (min-width: 1201px) {
                        // display: none;
                    }

                    @media only screen and (min-width: 601px) {
                        bottom: 2rem;
                    }

                    &:not(.active) {
                        display: none;
                    }
                }

                .extra-story {
                    position: relative;
                    max-height: 80px;
                    overflow: hidden;
                    transition: all .5s;

                    @media only screen and (min-width: 1201px) {
                        max-height: 100px;
                        .cover {
                            // display: none;
                        }
                    }
                    &.active {
                        max-height: 2000px;
                        
                        .cover {
                            display: none;
                        }
                    }

                    .cover {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(to bottom, transparent, white 55%);
                    }
                }
            }

            & .about-skills {
                font-family: serif;
                font-size: 1rem;
                flex-basis: 40%;
                align-self: stretch;
                padding: 3rem 4rem;


                @media only screen and (max-width: 1200px) {
                    align-self: stretch;
                }

                p {
                    // text-decoration: underline;
                    margin: .5rem;
                    font-size: 1.4rem;
                    font-family: sans-serif;
                }
                ul {
                    padding-left: 2rem;
                    list-style-type: '- ' !important;
                }

                li {
                    margin: .3rem;
                }

                .skills {
                    // height: 100%;
                    display: flex;
                    // flex-direction: column;
                    justify-content: space-evenly;

                    div {
                        background-color: #eee;
                        margin-bottom: 3rem;
                        box-shadow: 0 0 0.1rem gray;
                        padding: .5rem 1rem;
                        flex: 1;
                        // width: 25%;
                        &:not(:last-child) {
                            margin-right: 1rem;
                        }
                    }

                    p {
                        text-align: center;
                        border-bottom: 1px solid gray;
                    }

                    @media only screen and (max-width: 1200px) {
                        display: flex;
                        justify-content: space-evenly;

                        
                    }

                    @media only screen and (max-width: 700px) {
                        flex-direction: column;

                        ul {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                        }
                    }
                }

            }
        }
    }

    &.projects {
        background-color: #ADB5BD;
        // padding: 2rem 3rem;


        .section-wrapper {
            // background: white;
            max-width: 1400px;
            margin: 0 auto;
            padding: 2rem 3rem;

            @media only screen and (max-width: 700px) {
                padding: 1rem;
                row-gap: 1rem;
            }


            .projects-wrapper {
                background-color: white;
                padding: 3rem 4rem;
                box-shadow: 0 0 0.1rem gray;
                border-radius: 5px;
            }

            h2 {
                font-family: serif;
                font-weight: 400;
                font-size: 2rem;
                padding: 0 2rem;
                color: #212529;
                margin-bottom: 1.5rem;

                &:after {
                    content: '';
                    display: block;
                    width: 60%;
                    border-bottom: 1px solid black;
                    margin-top: .5rem;
                }
            }
        }

        .project-card {
            // border: 1px solid black;
            box-shadow: 0 0 0.2rem gray;
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: relative;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 2rem;
            background-color: #fcfcfc;
            padding: 1rem 2rem;

            @media only screen and (max-width: 440px) {
                padding: .5rem 1rem;
            }

            h3 {
                grid-column: 1 / -1;
            }

            .description { 
                grid-column: 1 / -1;
                margin-bottom: 2rem;
                font-family: sans-serif;
                line-height: 1.6;

                @media only screen and (max-width: 700px) {
                    margin-bottom: .5rem;
                }
            }

            h3 {
                text-align: center;
                font-family: serif;
                font-weight: 400;
                font-size: 1.5rem;
                border-bottom: 1px solid gray;
                width: 90%;
                margin: 0 auto;
                margin-bottom: 1rem;
            }

            .extra-details, .buttons {
                grid-column: 1 / 2;
            }

            .extra-details {
                width: 100%;
                font-family: sans-serif;
                // margin: 1rem;
                align-self: center;
                height: 100%;
                max-height: 350px;
                margin-top: 1rem;
                padding: .5rem 0;
                
                div {
                    height: 100%;
                }

                p {
                    padding: .5rem;
                    font-size: 1.2rem;
                    font-weight: 600;

                    @media only screen and (max-width: 600px) {
                        font-size: 1rem;
                    }
                }

                ul {
                    padding-left: 3rem;
                    list-style-type: '- ';
                }

                li {
                    padding: .2rem
                }

                @media only screen and (max-width: 600px) {
                    grid-column: 1 / -1;
                    div {
                        width: 100%;
                        grid-column: 1 / -1;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
    
                        p {
                            grid-row: 1;
                            text-align: center;
                            // font-size: .8rem;
                        }

                        ul {
                            padding-left: 2rem;
                        }
                    }
                }

                @media only screen and (max-width: 600px) {
                    
                    p {
                        font-size: 1rem;
                        padding: 0;
                    }

                    li {
                        font-size: .9rem;
                    }
                }
            }


            .img-wrapper {
                // width: 30%;
                right: 2rem;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-height: 350px;


                img {
                    max-height: 350px;
                    width: 100%;
                    border: 1px solid black;
                }

                @media only screen and (max-width: 600px) {
                    grid-column: 1 / -1;
                }
            }

            .buttons {
                grid-column: 1 / -1;
                display: flex;
                justify-content: space-evenly;
                padding: 1rem;

                button, a {
                    background-color: #de1a1a;
                    color: #fff;
                    padding: .5rem 1rem;
                    font-size: 1.2rem;
                    border-radius: .5rem;
                    font-family: sans-serif;
                    font-weight: 400;
                    // border: 1px solid #212529;
                    box-shadow: 0 0.1rem 0.2rem gray;
                    // margin-right: 2rem;

                    &.see-code {
                        background-color: #3f88c5;
                    }
                }

                @media only screen and (max-width: 400px) {
                    justify-content: space-between;
                    button, a {
                        font-size: 1rem;
                    }
                }

                @media only screen and (max-width: 500px) {
                    padding: 0;

                    button, a {
                        font-size: 1rem;
                    }
                }
            }
            .details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem 2rem;

                

                .description {
                    font-family: sans-serif;
                    line-height: 1.6;
                    grid-column: 1 / -1;
                }

                .extra-details {
                    width: 100%;
                    margin-top: 1rem;
                    font-family: sans-serif;

                    p {
                        padding: .5rem;
                    }

                    p:nth-of-type(2n+1) {
                        font-weight: 600;
                        font-size: 1.2rem;
                    }

                    p:nth-of-type(2n), ul {
                        padding-left: 3rem;
                    }

                    li {
                        padding: .2rem
                    }
                }
            }

            
        }
    }

    &.about-site {
        background-color: #212529;

        .section-wrapper {
            padding-bottom: 1rem;
            padding: 1rem;
            
            .content {
                max-width: 1500px;
                background: white;
                padding: 1rem 2rem;
                border-radius: 5px;
                box-shadow: 0 0 0.2rem gray;

                h2 {
                    text-align: center;
                }

                p {
                    font-family: sans-serif;
                    line-height: 1.6;
                }

                p.footer-note {
                    margin-top: 2rem;
                    font-size: .8rem;
                }
            }
        }
    }
}

.contact-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    z-index: 50;

    &:not(.active) {
        display: none;
    }

    .contact-modal-content {
        position: relative;
        width: 90%;
        max-width: 800px;
        background-color: white;
        // height: 70%;
        box-shadow: 0 0 0.2rem black;
        border-radius: 5px;
        padding: 4rem;
        padding-top: 2rem;

        &:not(.active) {
            display: none;
        }

        form {

            display: flex;
            flex-direction: column;
            
            h3 {
                font-family: sans-serif;
                font-weight: 300;
                font-size: 2rem;
                text-align: center;   
            }   

            img {
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: 2rem;
                cursor: pointer;
            }

            label {
                margin: 2rem 0 .5rem 0;
            }
            input, textarea {
                background-color: rgb(252,252,252);
                padding: .5rem;
                box-shadow: 0 0 0.1rem gray;
                font-size: 1rem;

            }

            textarea {
                resize: none;
                overflow-y: auto;
                font-family: sans-serif;
                line-height: 1.5;
            }

            button {
                width: 30%;
                min-width: 80px;
                margin: 0 auto;
                margin-top: 2rem;
                padding: .5rem 1rem;
                background-color: #212529;
                color: white;
                font-family: sans-serif;
                font-size: 1.2rem;
                border-radius: 5px;
                box-shadow: 0 0.1rem 0.2rem gray;
                cursor: pointer;
            }
        }
    }

    .contact-sent-modal {
        position: relative;
        // width: 90%;
        max-width: 800px;
        background-color: white;
        // height: 70%;
        box-shadow: 0 0 0.2rem black;
        border-radius: 5px;
        padding: 4rem;
        padding-top: 2rem;
        cursor: pointer;

        &:not(.active) {
            display: none;
        }

        h3 {
            font-family: sans-serif;
            font-weight: 300;
            font-size: 2rem;
            text-align: center;   
        } 
        
        p {
            font-family: sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            text-align: center;
            margin-top: 5rem;
        }
    } 
}

.app-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    z-index: 50;

    img {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        cursor: pointer;
    }

    &:not(.active) {
        display: none;
    }

    .app-modal-content {
        max-height: 90%;
        overflow-y: scroll;
        font-family: serif;
        font-weight: 300;
        font-size: 1.1rem;
        position: relative;
        width: 90%;
        max-width: 800px;
        background-color: white;
        // height: 70%;
        box-shadow: 0 0 0.2rem black;
        border-radius: 5px;
        padding: 4rem;
        padding-top: 2rem;
        padding-bottom: 3rem;

        @media only screen and (max-width: 700px) {
            padding: 2rem;
        }

        @media only screen and (max-width: 500px) {
            font-size: 1rem;
            padding: 1.5rem;
        }
        @media only screen and (max-width: 400px) {
            font-size: .9rem;
            padding: 1.5rem;
        }

        &:not(.active) {
            display: none;
        }

        h3 {
            font-family: sans-serif;
            font-weight: 300;
            font-size: 2rem;
            text-align: center;
            margin-bottom: 1rem;
        }

        h4 {
            font-family: sans-serif;
            font-weight: 400;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            border-bottom: solid 1px gray;
            width: 80%;
            padding-bottom: .5rem;
        }

        ul {
            list-style-type: '- ';
            padding-left: 3rem;
            margin: 2rem 0;
        }
        
        p {
            margin-bottom: 1rem;
        }

        .credentials {
            font-weight: 600;
        }

        .modal-button {
            display: flex;
            justify-content: center;
            padding: 2rem;

            a {
                text-decoration: none;
                padding: .5rem 1rem;
                background-color: #212529;
                color: white;
                border-radius: 5px;
                box-shadow: 0 0.1 0.1px gray;
                font-size: 1.2rem;
            }
        }
    }
}

.resume {
    &:not(.active) {
        display: none;
    }
}

.resume-pdf {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    @media only screen and (max-width: 440px) {
        // top: 10%;
    }
}
.print-button, .close-resume {
    height: 5rem;
    width: 5rem;
    background: #fff;
    position: fixed;
    top: 5rem;
    left: 5rem;
    z-index: 100;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 0.2rem black;

    img {
        height: 100%;
    }

    @media only screen and (max-width: 1300px) {
        height: 3rem;
        width: 3rem;
        padding: 0;
    }
    @media only screen and (max-width: 800px) {
        left: 2rem;
        top: 3rem;
    }
    @media only screen and (max-width: 500px) {
        height: 2rem;
        width: 2rem;
        left: 2rem;
        top: 3rem;
    }
}

.close-resume {
    right: 3rem;
    top: 4rem;
    left: auto;
    box-shadow: none;
    padding: 0;
    height: 2rem;
    width: 2rem;

    @media only screen and (max-width: 500px) {
        top: 3rem;
        right: 2rem;
    }
}